h1 {
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	letter-spacing: 5px;
}
.lead {
	font-style: italic;
	font-weight: 100;
	letter-spacing: 2px;
}

@media (max-width: 736px) {
  h1 {
    font-size: 90%;
  }
  .lead {
    font-size: 90%;
  }
}